*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Space Grotesk", sans-serif;
  width: 100%;
  height: 100%;
}

body {
  font-size: 18px;
}

main {
  display: flex;
}

.cards-container {
  width: 30%;
  height: 100vh;
  background-image: url(../images/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.front-card {
  background-image: url(../images/bg-card-front.png);
  width: 150%;
  height: 30%;
  max-width: 460px;
  max-height: 260px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-top: 170px;
  margin-left: 66%;
}

.front-card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

.front-card-logos {
  display: flex;
  align-items: center;
}

.white-full-circle {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
}

.white-empty-circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid white;
  margin-left: 15px;
}

.container-card-info {
  color: white;
  letter-spacing: 2px;
}

.card-number {
  font-size: 1.5rem;
  letter-spacing: 5px;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.card-info {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.card-expiration {
  display: flex;
}

.back-card {
  background-image: url(../images/bg-card-back.png);
  width: 150%;
  height: 30%;
  max-width: 460px;
  max-height: 260px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 100%;
}

.back-card-info {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 3rem;
  padding-bottom: 0.3rem;
}

.card-cvc {
  color: white;
  font-size: 1rem;

  letter-spacing: 2px;
}

.form-container {
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  width: 35%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.1rem;
  color: hsl(278, 68%, 11%);
  font-size: 0.9rem;
  font-weight: bold;
}

form input {
  width: 100%;
  height: 50px;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: 0;
  color: hsl(278, 68%, 11%);
  border-radius: 10px;
  border: 1px solid hsl(270, 3%, 87%);
  padding-left: 1rem;
}
form input::placeholder {
  color: hsl(270, 3%, 87%);
}

form input:focus {
  outline: none !important;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%)) border-box;
  border: 2px solid transparent;
}

.is-invalid {
  border: 2px solid hsl(0, 100%, 66%);
}

.error {
  color: hsl(0, 100%, 66%);
  font-size: 0.8rem;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}

button {
  width: 100%;
  height: 50px;
  margin-top: 1rem;
  border-radius: 10px;
  background-color: hsl(278, 68%, 11%);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.form-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.form-info-left {
  width: 45%;
}

.form-info-left-inputs {
  display: flex;
  gap: 0.75rem;
}

.form-info-right {
  width: 50%;
}

.complete {
  width: 35%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  letter-spacing: 0.1rem;
  font-size: 120%;
}

.complete h2 {
  color: hsl(278, 68%, 11%);
}

.complete p {
  color: hsl(279, 6%, 55%);
  font-size: 0.9rem;
  font-weight: bold;
}

.none {
  display: none;
  visibility: hidden;
}

/* Mobile screen */

@media (max-width: 768px) {
  main {
    flex-direction: column;
  }
  body {
    min-width: 375px;
  }

  .cards-container {
    width: 100%;
    height: 35vh;
    background-image: url(../images/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .front-card {
    background-image: url(../images/bg-card-front.png);
    position: absolute;
    z-index: 999;
    width: 300px;
    height: 160px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-top: 180px;
    margin-left: -70px;
  }

  .back-card {
    background-image: url(../images/bg-card-back.png);
    position: absolute;
    width: 300px;
    height: 160px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-top: 0;
    margin-left: 50px;
  }

  .front-card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
  }

  .white-full-circle {
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
  }

  .white-empty-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid white;
    margin-left: 10px;
  }

  .card-number {
    font-size: 1.2rem;
    letter-spacing: 2px;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
  }

  .card-info {
    display: flex;
    justify-content: space-between;
    font-size: 0.7rem;
    text-transform: uppercase;
  }

  .form-container {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  form {
    width: 80%;
    margin-left: 0;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    letter-spacing: 0.1rem;
    color: hsl(278, 68%, 11%);
    font-size: 0.9rem;
    font-weight: bold;
  }

  .complete {
    width: 80%;
    margin-left: 0;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    letter-spacing: 0.1rem;
    font-size: 120%;
  }
  .none {
    display: none;
    visibility: hidden;
  }
}
